@charset "UTF-8";

// @tailwind base;

@use 'components/header';
@use 'components/section-one';
@use 'components/section-two';
@use 'components/section-three';
@use 'components/testimonials';
@use 'components/call-to-action';
@use 'components/footer';
@use 'components/variables';

body {
    background: variables.$Dark-Blue;
    font-family: variables.$Raleway;
    color: variables.$White;    
    display: grid;
    @media screen and (min-width: 1024px) {
        display: grid;
    }
    .container {
        display: grid;
        text-align: center;
        justify-self: center;
        @media screen and (min-width: 1024px) {
            justify-self: center;
        }
    }
}