@use 'variables';

.call-to-action {
    background-color: variables.$Grayish-Blue;
    padding: 2rem;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    transform: translateY(155px);
    &__title {
        font-size: 1.1rem;
        font-weight: 600;
    }
    &__text {
        font-family: variables.$Open-Sans;
        font-size: .85rem;
        font-weight: 300;
    }
    &__form {
        display: grid;
        gap: 1rem;
        margin-top: 1rem;
    }
    &__input {
        border-radius: 30px;
        padding: .7rem 1.5rem;
        color: variables.$Dark-Blue-three;
        &::placeholder {
            font-size: .8rem
        }
        &:focus {
            outline: 3px solid variables.$Blue;
        }
    }
    &__button {
        background-color: variables.$Blue;
        border-radius: 30px;
        padding: .7rem;
        font-size: .9rem;
        font-weight: 600;
        transition: scale .2s ease;
        &:hover {
            scale: 1.1;
            cursor: pointer;
        }
    }
    .active {
        outline: 3px solid red;
    }
}

@media screen and (min-width: 1024px) {
    .call-to-action {
        margin: 4rem auto 0;
        padding: 2.5rem 4rem;
        gap: 1rem;
        width: 70%;
        transform: translateY(130px);
        &__title {
            font-size: 2rem;
        }
        &__text {
            font-size: 1rem;
            max-width: 85%;
            margin: auto;
        }
        &__form {
            grid-template-columns: 2fr 1fr;
            gap: 1.75rem;
        }
        &__input {
            padding: 1rem 1.5rem;
        }
        &__button {
            background-image: linear-gradient(to left, variables.$Blue, variables.$Cyan) ;
            padding: 1rem;
        }
    }
}