@use 'variables';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem;
    @media screen and (min-width: 1024px) {
        margin: 4rem;        
    }
    &__img {
        width: 90px;
        @media screen and (min-width: 1024px) {
            width: 200px;        
        }
    }
    &__nav {
        display: flex;
        gap: 1rem;
        @media screen and (min-width: 1024px) {
            gap: 4rem;
        }
    }
    &__link {
        font-size: .75rem;
        font-weight: 300;
        transition: scale .2s ease;
        &:hover {
            scale: 1.1;
            cursor: pointer;
            text-decoration: underline;
        }
        &:active {
            color: variables.$Blue;
        }
        @media screen and (min-width: 1024px) {
            font-size: 1.2rem;
            font-weight: 400;        
        }
    }
}